{% extends "base.html" %}

{% block titulo %} Restaurantes – Just Food {% endblock %}


{% block contenido_principal %}
<!-- Búsqueda -->
<div class="row">
    <div class="col-sm-6"><h2>Comienza tu pedido</h2></div>
    <div class="col-sm-6"><br>
        <div id="custom-search-input">
            <form method="get" action="/restaurantes" >
                <div class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right">
                    <input type="text" class="search-query form-control"
                           placeholder="Nombre del restaurante" name="busqueda"/>
                    <span class="input-group-btn">
					<button class="btn" type="submit">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
                </div>
            </form>
    </div>
    </div>
</div><br>
<div class="row">
    <div class="col-sm-2">
            <div id="advanced-search">
                <form method="get" action="/restaurantes" >
                    <div class="form-group">
                        <input type="text" class="search-query form-control"
                               placeholder="Ciudad" name="ciudad" required/>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="speciality" required>
                            <option value="" disabled selected>Tipo de comida</option>
                            <option value="Hamburguesas">Hamburguesas</option>
                            <option value="Bocadillos">Bocadillos</option>
                            <option value="Cocina de autor">Cocina de autor</option>
                            <option value="Pizza">Pizzas</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Filtrar</button>
                    </div>
                </form>

        </div>
    </div>
    <div class="col-sm-10">
        <div class="row" style="text-align: center;">

            <!-- http://librosweb.es/libro/bootstrap_3/capitulo_2/tipos_de_rejillas.html -->
            <!-- Inicio del Bloque canción  -->
            {% for restaurante in restaurantes %}
            <div class="col-md-4 col-xs-6">
                <div style="width: 200px">
                    <a href="/restaurante/{{ restaurante._id.toString() }}"> <img src="/imgRestaurantes/{{ restaurante._id.toString() }}.png" alt="logo" />
                        <!-- http://www.socicon.com/generator.php  -->
                        <div class="wrap">{{ restaurante.name }}</div>
                        <div class="small">{{ restaurante.speciality }} </div>
                        <div class="small">{{ restaurante.city }}</div>
                    </a>
                </div>
            </div>
            {% endfor %}
            <!-- Fin del Bloque canción  -->
        </div>
        <!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
        <div class="row text-center">
            <ul class="pagination">
                <!-- Primera -->
                <li class="page-item" >
                    <a class="page-link" href="/restaurantes?pg=1" >Primera</a>
                </li>

                <!-- Anterior (si la hay ) -->
                {% if pgActual-1 >= 1 %}
                <li class="page-item">
                    <a class="page-link" href="/restaurantes?pg={{ pgActual -1 }}" >{{ pgActual -1 }}</a>
                </li>
                {% endif %}

                <!-- Actual  -->
                <li class="page-item active" >
                    <a class="page-link" href="/restaurantes?pg={{ pgActual }}">{{ pgActual }}</a>
                </li>

                <!-- Siguiente (si la hay)  -->
                {% if pgActual+1 <= pgUltima %}
                <li class="page-item">
                    <a class="page-link" href="/restaurantes?pg={{ pgActual+1 }}" >{{ pgActual+1 }}</a>
                </li>
                {% endif %}

                <!-- Última -->
                <li class="page-item" >
                    <a class="page-link" href="/restaurantes?pg={{ pgUltima }}" >Última</a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

