{% extends "cover.html" %}

{% block titulo %} Identificar usuario {% endblock %} 

{% block contenido_principal %}
<div class="row justify-content-md-center">
  <div class="col-10">
    <form class="form-horizontal" method="post" action="/identificarse" >
      <h1>Just Food</h1>
      <h4>Los mejores restaurantes al alcance de tu mano</h4><br>
      <div class="form-group">
        <input type="email" class="form-control" name="email"
               placeholder="Correo electrónico" required="true" />
      </div>
      <div class="form-group">
        <input type="password"  class="form-control" name="password"
               placeholder="contraseña" required="true" />
      </div>
      <div class="text-center">
          <button type="submit" class="btn btn-primary btn-lg btn-block">Iniciar Sesión</button>
      </div>
      <br>
      <p>¿Eres nuevo en JustFood? <a href="/registrarse">Crea aquí tu cuenta</a></p>
    </form>
  </div>
</div>
{% endblock %}