{% extends "cover.html" %}

{% block titulo %} Identificar usuario {% endblock %} 

{% block contenido_principal %}
  <form class="form-horizontal" method="post" action="/identificarse" >
    <h1>Just Food</h1><br>
    <div class="form-group">
      <input type="email" class="form-control" name="email"
             placeholder="email@email.com" required="true" />
    </div>
    <div class="form-group">
      <input type="password"  class="form-control" name="password"
             placeholder="contraseña" required="true" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
    <br>
    <p>¿Eres nuevo en JustFood? <a href="/registrarse">Crea aquí tu cuenta</a></p>
  </form>
{% endblock %}