{% extends "base.html" %}

{% block titulo %} Modificar menú {% endblock %}

{% block contenido_principal %}
<h2>Modificar menú</h2>
<p>Los menús incluyen primer plato, segundo plato, tercer plato(opcional), postre y precio.</p>
<div class="row justify-content-md-center">
    <div class="col-8">
        <form class="form-horizontal" method="post" action="/menu/modificar/{{ menu._id.toString() }}">
            <div class="form-group row">
                <label for="nombre" class="col-sm-4 col-form-label text-right">Nombre del menú:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="nombre"
                           placeholder="Nombre del menú" required="true" value="{{ menu.nombre }}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="primerPlato" class="col-sm-4 col-form-label text-right">Primer plato:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="primerPlato"
                           placeholder="Primer plato" required="true" value="{{ menu.primerPlato }}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="segundoPlato" class="col-sm-4 col-form-label text-right">Segundo plato:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="segundoPlato"
                           placeholder="Segundo plato" required="true" value="{{ menu.segundoPlato }}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="postre" class="col-sm-4 col-form-label text-right">Postre:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="postre"
                           placeholder="Postre" required="true" value="{{ menu.postre }}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="precio" class="col-sm-4 col-form-label text-right">Precio:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="precio"
                           placeholder="2.50" required="true" value="{{ menu.precio }}"/>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary text-center">Guardar modificación</button>
            </div>

        </form>
    </div>
</div>
{% endblock %}
