{% extends "base.html" %}

{% block titulo %} Modificar menú {% endblock %}

{% block contenido_principal %}
<h2>Modificar menú</h2>
<p>Los menús incluyen primer plato, segundo plato, tercer plato(opcional), postre y precio.</p>
<form class="form-horizontal" method="post" action="/menu/modificar/{{ menu._id.toString() }}">
    <div class="form-group">
        <label class="control-label col-sm-2" for="nombre">Nombre:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="nombre"
                   placeholder="Nombre del menú" required="true" value="{{ menu.nombre }}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="primerPlato">Primer plato:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="primerPlato"
                   placeholder="Primer plato" required="true" value="{{ menu.primerPlato }}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="segundoPlato">Segundo plato:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="segundoPlato"
                   placeholder="Segundo plato" required="true" value="{{ menu.segundoPlato }}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="tercerPlato">Tercer plato:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="tercerPlato"
                   placeholder="Tercer plato" value="{{ menu.tercerPlato }}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="postre">Postre:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="postre"
                   placeholder="Postre" required="true" value="{{ menu.postre }}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="precio">Precio (€):</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" name="precio"
                   placeholder="2.50" required="true" value="{{ menu.precio }}"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Modificar</button>
        </div>
    </div>
</form>
{% endblock %}
