{% extends "base.html" %} {% block titulo %} Mis publicaciones {% endblock %} 

{% block contenido_principal %}
<h2>Mis menús</h2>

<!-- Agregar Canción -->
<div class="row text-right">
	<a href="/menus/agregar" class="btn btn-info" role="button">Agregar menú</a>
</div>

<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Título</th>
				<th>Precio</th>
				<th class="col-md-1"></th>
			</tr>
		</thead>
		<tbody>
		{% for menu in menus %}
			<tr>
				<td>{{ menu.nombre }}</td>
				<td>{{ menu.precio }}</td>
				<td><a href="/cancion/modificar/{{ cancion._id.toString() }}"">Modificar</a> <br>
					<a href="/cancion/eliminar/{{ cancion._id.toString() }}">Eliminar</a> <br>
			    </td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

<!-- Agregar Canción -->
<div class="row text-right">
	<a href="/menus/agregar" class="btn btn-info" role="button">Agregar menú</a>
</div>

{% endblock %}
