{% extends "base.html" %} {% block titulo %} Mis publicaciones {% endblock %} 

{% block contenido_principal %}
<h2>Mis menús</h2>

<br>
<div class="text-right">
	<a href="/menus/agregar" class="btn btn-info" role="button">Agregar menú</a>
</div>
<br>

<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Título</th>
				<th>Precio (€)</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		{% for menu in menus %}
			<tr>
				<td>{{ menu.nombre }}</td>
				<td>{{ menu.precio }}</td>
				<td><p style="text-align: right;"><a href="/menu/modificar/{{ menu._id.toString() }}">Modificar</a> |
					<a href="/menu/eliminar/{{ menu._id.toString() }}">Eliminar</a></p>
			    </td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

<div class="text-right">
	<a href="/menus/agregar" class="btn btn-info" role="button">Agregar menú</a>
</div>

{% endblock %}
