{% extends "cover.html" %}

{% block titulo %} Registrar usuario {% endblock %} 

{% block contenido_principal %}
  <h2 style="text-align: center">¿Qué tipo de usuario eres?</h2><br>
  <a class="btn btn-primary btn-block" href="/registrarseUsuario" role="button"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Cliente</a>
  <a class="btn btn-primary btn-block" href="/registrarseRestaurante" role="button"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> Restaurante</a>
{% endblock %}