{% extends "cover.html" %}

{% block titulo %} Registrar usuario {% endblock %} 

{% block contenido_principal %}
  <h2 style="text-align: center">¿Qué tipo de usuario eres?</h2><br>
<div class="row justify-content-md-center">
  <div class="col-10" style="margin-top: 10%;">
  <a class="btn btn-primary btn-block" href="/registrarseUsuario" role="button"><i class="fa fa-user-o" aria-hidden="true"></i> Cliente</a>
  <a class="btn btn-primary btn-block" href="/registrarseRestaurante" role="button"><i class="fa fa-cutlery" aria-hidden="true"></i> Restaurante</a>
  </div>
</div>
{% endblock %}