{% extends "cover.html" %}

{% block titulo %} Registrar usuario {% endblock %}

{% block contenido_principal %}
<h2>Registrar restaurante</h2>
<div class="row justify-content-md-center">
    <div class="col-8">
    <form class="form-horizontal" method="post" action="/usuario/Restaurante" encType="multipart/form-data">
        <div id="primeraParte">
            <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Correo electrónico" required="true" />
            </div>
            <div class="form-group">
                    <input type="password" class="form-control" name="password"  placeholder="Contraseña" required="true" />

            </div>
            <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Nombre del restaurante" required="true" />
            </div>
            <div class="form-group">
                <label for="speciality">Especialidad:</label>
                    <select class="form-control" name="speciality" required="true">
                        <option value="Hamburguesas">Hamburguesas</option>
                        <option value="Bocadillos">Bocadillos</option>
                        <option value="Cocina de autor">Cocina de autor</option>
                        <option value="Pizza">Pizzas</option>
                    </select>
            </div>
            <div class="text-center">
                <button id="cambio" class="btn btn-primary btn-block">Siguiente</button>
            </div>
        </div>
        <div id="segundaParte">
            <div class="form-group">
                    <input type="text" class="form-control" name="phoneNumber" placeholder="Número de teléfono" required="true" />
            </div>
            <div class="form-group ">
                    <input type="text" class="form-control" name="address" placeholder="Dirección del establecimiento" required="true" />
                    <small id="addressHelp" class="form-text text-muted">La dirección de tu negocio.</small>
            </div>
            <div class="form-group ">
                    <input type="text" class="form-control" name="city" placeholder="Ciudad" required="true" />
            </div>
            <div class="form-group">
                <label for="image">Imagen:</label>
                <input type="file" class="form-control-file" name="image" accept=".png"  required/>
            </div>


            <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
            </div>
        </div>
    </form>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#segundaParte").hide();
        $("#cambio").click(function(){
            $("#primeraParte").hide();
            $("#segundaParte").show();
        });
    });
</script>
{% endblock %}