{% extends "base.html" %}

{% block contenido_principal %}

<div class="row">
    <h2>Ya queda menos</h2>
    <div class="media col-xs-10">
        <div class="media-left media-middle">
            <img class="media-object" src="/imgRestaurantes/{{ restaurante._id.toString() }}.png">
        </div>
        <div class="media-body">
            <h2>{{ restaurante.name }}</h2>
            <p>{{ restaurante.speciality }}</p>
            <p>{{ restaurante.phoneNumber }}</p>
            <p>{{ restaurante.address }}</p>
            <p>{{ restaurante.city }}</p>
        </div>
    </div>
</div>

<div class="row">
    <h2>Elige el menú que mas te gusta</h2>
    {% for menu in menus %}
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
        <div style="width: 300px">
            <h3>{{ menu.nombre }}</h3>
            <p>Primer plato: {{ menu.primerPlato }}</p>
            <p>Segundo plato: {{ menu.segundoPlato }}</p>
            <p>Postre: {{ menu.postre }}</p>
            <p>Precio: {{ menu.precio }} €</p>
            <a class="btn btn-primary"
               href="/restaurante/comprar/{{ menu._id.toString() }}"> Comprar </a>
        </div>
    </div>
    {% endfor %}
    <!-- Fin del Bloque canción  -->
</div>

{% endblock %}
