{% extends "base.html" %}

{% block titulo %} Restaurantes – Just Food {% endblock %}


{% block contenido_principal %}
<!-- Búsqueda -->
<div class="row">
    <div class="col-8">
        <div aria-label="breadcrumb">
            <ol class="breadcrumb arr-right">
                <li class="breadcrumb-item active" aria-current="page">Elige un restaurante</li>
                <li class="breadcrumb-item">Elige tu menú</li>
                <li class="breadcrumb-item">Resumen del pedido</li>
            </ol>
        </div>
    </div>
    <div class="col-4" style="padding: 0.3%">
        <div id="custom-search-input">
            <form method="get" action="/restaurantes" class="form-inline my-2 my-lg-0">
                <input type="search" class="form-control mr-sm-2" placeholder="Nombre del restaurante" name="busqueda"/>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
						Buscar
                </button>
            </form>
    </div>
    </div>
</div><br>
<div class="row">
    <div class="col-3">
            <div id="advanced-search">
                <form method="get" action="/restaurantes" >
                    <div class="form-group">
                        <input type="text" class="search-query form-control"
                               placeholder="Ciudad" name="ciudad" required/>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="speciality" required>
                            <option value="" disabled selected>Tipo de comida</option>
                            <option value="Hamburguesas">Hamburguesas</option>
                            <option value="Bocadillos">Bocadillos</option>
                            <option value="Cocina de autor">Cocina de autor</option>
                            <option value="Pizza">Pizzas</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Filtrar</button>
                    </div>
                </form>

        </div>
    </div>
    <div class="col-9">
        {% if busqueda == true %}
        {% if restaurantes.length != 0 %}
        <div class="alert alert-success" role="alert">
            Hemos encontrados {{restaurantes.length}} para ti.
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            No hemos encontrado ningún restaurante con esas características.
        </div>
        {% endif %}
        {% endif %}
        <div class="row text-center justify-content-center" style="text-align: center;">
            {% for restaurante in restaurantes %}
            <div class="col-4">
                <div class="card" style="width: 200px">
                    <a href="/restaurante/{{ restaurante._id.toString() }}"> <img src="/imgRestaurantes/{{ restaurante._id.toString() }}.png" alt="logo" style="width: 200px" />
                     <div class="card-body">
                        <div class="wrap">{{ restaurante.name }}</div>
                        <div class="small">{{ restaurante.speciality }} </div>
                        <div class="small">{{ restaurante.city }}</div>
                    </div>
                    </a>
                </div>
            </div>
            {% endfor %}
            <!-- Fin del Bloque canción  -->
        </div>
        <br>
        <!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
        <div class="row text-center justify-content-center">
            <ul class="pagination">
                <!-- Primera -->
                <li class="page-item" >
                    <a class="page-link" href="/restaurantes?pg=1" >Primera</a>
                </li>

                <!-- Anterior (si la hay ) -->
                {% if pgActual-1 >= 1 %}
                <li class="page-item">
                    <a class="page-link" href="/restaurantes?pg={{ pgActual -1 }}" >{{ pgActual -1 }}</a>
                </li>
                {% endif %}

                <!-- Actual  -->
                <li class="page-item active" >
                    <a class="page-link" href="/restaurantes?pg={{ pgActual }}">{{ pgActual }}</a>
                </li>

                <!-- Siguiente (si la hay)  -->
                {% if pgActual+1 <= pgUltima %}
                <li class="page-item">
                    <a class="page-link" href="/restaurantes?pg={{ pgActual+1 }}" >{{ pgActual+1 }}</a>
                </li>
                {% endif %}

                <!-- Última -->
                <li class="page-item" >
                    <a class="page-link" href="/restaurantes?pg={{ pgUltima }}" >Última</a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

