{% extends "base.html" %}

{% block titulo %} Sobre Nosotros – Just Food {% endblock %}


{% block contenido_principal %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/conocenos">Sobre nosotros</a></li>
        <li class="breadcrumb-item active" aria-current="page">Casos de éxito</li>
    </ol>
</nav>

<div class="card border-light mb-3 margenes">
    <h1 class="text-center">Casos de éxito</h1>
    <div class="col-md-12 mt-4 pb-3">
        <p>DPIU CAPITAL al constituye la firma más activa en inversiones en situaciones
            especiales de tamaño medio</p>
        <p>DPIU CAPITAL ha realizado 129 inversiones en los últimos cuatro años posicionándose como la
            firma líder en situaciones especiales de tamaño medio en España.</p>
        <p>DPIU CAPITAL cuenta con el equipo más experimentado en España para invertir en situaciones
            especiales.</p>
        <p>DPIU CAPITAL goza de claras ventajas competitivas en el cierre de la transacción dada su
        capacidad para cerrar operaciones de manera rápida (en 30 días), y su flexibilidad en la
        estructura de la operación (participaciones, precios, deuda, etc.) y las garantías aportadas por
            los vendedores.</p>
        <p>Importantes grupos financieros e industriales han confiado en SHERPA DPIU CAPITAL para
            desinversiones de parte de sus activos.</p>
        <p>Una única labor: la gestión de activos financieros DPIU CAPITAL opta por gestionar una gama
        limitada de estrategias para lograr una mayor revalorización del capital de sus clientes a lo
            largo del tiempo.</p>
        <p>En cuanto a nuestro método, preferimos una gestión realista basada en nuestras destrezas.</p>
        <p>Los productos insignia de la casa, DPIU CAPITAL Investissement, DPIU CAPITAL Patrimoine y
        DPIU CAPITAL Securité, se lanzaron en 1989, con una marcada orientación internacional y
        hacia los países emergentes. Desde entonces, estos dos Fondos no han dejado de demostrar
        su resistencia a largo plazo, especialmente en periodos muy bajistas. Esa solidez corrobora la
            capacidad de DPIU CAPITAL para compaginar rentabilidad y gestión de riesgos.</p>
    </div>
</div>

{% endblock %}