<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block titulo %} Just Food {% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/css/cover.css">
    <link href="/css/sticky-footer-navbar.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% block scripts %}  {% endblock %}
</head>
<body>
<div id="loginPanel" class="container-fluid text-center row panelRegistro" style="display: flex; justify-content: center; align-items: center;">
    <div class="col-6 form-container" style="height: 500px;">
        <!-- Contenido -->
        {% block contenido_principal %}
        <!-- Posible contenido por defecto -->
        {% endblock %}
    </div>
</div>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Máster en Ingeniería Web (Universidad de Oviedo)</span>
    </div>
</footer>
<script>
    var mensaje = getUrlParameter('mensaje');
    var tipoMensaje = getUrlParameter('tipoMensaje');

    if ( mensaje != ""){
        if (tipoMensaje == "" ){
            tipoMensaje = 'alert-info';
        }
        $( ".form-horizontal" )
            .prepend("<div class='alert "+tipoMensaje+"'>"+mensaje+" </div>");
    }

    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' :
            decodeURIComponent(results[1].replace(/\+/g, ' '));
    };
</script>
</body>
</html>
