{% extends "base.html" %}

{% block titulo %} Sobre Nosotros – Just Food {% endblock %}


{% block contenido_principal %}

<div class="card border-light mb-3">
    <h1 class="text-center">Metodología</h1>
    <div class="col-md-12 mt-4 pb-3">
        <p>Metodología experiencia y creación de valor nuestra filosofía se basa en
            aportar no solo capital sino fundamentalmente gestión como palanca de
            creación de valor en las inversiones</p>
        <p>El éxito sistemático a lo largo de los años, con rentabilidades muy por encima de la media de la
        industria, ha permitido a Sherpa Capital desarrollar una metodología para los procesos de
        transformación de compañías implementada con éxito en más de 150 empresas. Los aspectos
            fundamentales en los que se sustenta son:</p>
        <ul>
            <li>Definición y ejecución del Plan de 100 y 200 días.</li>
            <li>Trabajo conjunto con el equipo directivo reforzándolo y apoyándolo cuando es necesario con
                nuestros propios ejecutivos de gestión.</li>
            <li>Planes de crecimiento mediante internacionalización.</li>
            <li>Planes de adquisiciones para consolidar el sector. Habitualmente todas nuestras participadas
                adquieren al menos otra compañía de su industria.</li>
            <li>Redefinición financiera con especial énfasis en lo relacionado con la estructura financiera y
                liquidez.</li>
            <li>Plan estratégico, reorientación estratégica y operativa del negocio</li>
        </ul>
    </div>
</div>

{% endblock %}