{% extends "base.html" %}

{% block titulo %} Sobre Nosotros – Just Food {% endblock %}


{% block contenido_principal %}

<div class="card border-light mb-3">
    <h1 class="text-center">El Objetivo</h1>
    <div class="col-md-12 mt-4 pb-3">
        <p>Inversiones en empresas en situaciones especiales que se enfrentan a importantes retos
        estratégicos, operativos o financieros pero que cuenta con ventajas competitivas sostenibles y
            con posiciones relevantes en sus mercados.</p>
        <p>Facturación entre € 20M y 300M si bien no se descartan operaciones de mayor tamaño en coinversión.</p>
        <p>Enfoque multi-sectorial excepto sector financiero e inmobiliario.</p>
        <p>Interés especial por oportunidades de consolidación sectoriales (buy and build).</p>
        <p>Participación siempre con control de la gestión (mayoritaria o minoritaria)</p>
    </div>
</div>

{% endblock %}