{% extends "base.html" %}

{% block titulo %} Sobre Nosotros – Just Food {% endblock %}


{% block contenido_principal %}

<div class="card border-light mb-3">
    <h1 class="text-center">Nuestro inversor</h1>
    <div class="col-md-12 pb-3">
        <h2>DPIU CAPITAL</h2>
        <p class="card-text">DPIU CAPITAL es el fondo de capital privado líder en españa en inversiones en
            situaciones especiales con más de 1200 millones de euros bajo gestión.</p>
        <p>DPIU CAPITAL es el fondo de capital privado líder en inversiones en medianas empresas en
            España que atraviesan situaciones especiales, de especial complejidad y/o que requieren
            procesos de transformación. En este sentido, típicamente invierte tanto en el capital como en
            la deuda de empresas que cuentan con un buen posicionamiento estratégico pero que se
            enfrentan a importantes desafíos estratégicos, operativos, financieros o accionariales.</p>
        <p>La tesis de inversión caracteriza a DPIU CAPITAL como un socio activo y comprometido que
            contribuye con una visión de largo plazo, el capital necesario, un equipo propio con talento y
            una dilatada experiencia para crear valor y asegurar la competitividad de las empresas donde
            invierte.</p>
        <p>La tesis de inversión caracteriza a DPIU CAPITAL como un socio activo y comprometido que
            contribuye con una visión de largo plazo, el capital necesario, un equipo propio con talento y
            una dilatada experiencia para crear valor y asegurar la competitividad de las empresas donde
            invierte.</p>
        <p>DPIU CAPITAL está registrada en la CNMV como Sociedad Gestora de Entidades de Inversión
            de Tipo Cerrado.</p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>Casos de éxito</h3>
            <p class="card-text">DPIU CAPITAL al constituye la firma más activa en inversiones en situaciones
                especiales de tamaño medio...</p>
            <a href="casosExito" class="card-link">leer mas</a>
        </div>
        <div class="col-md-3">
            <h3>Nuestro equipo</h3>
            <p class="card-text">nuestro equipo está formado por destacados ejecutivos procedentes de firmas
                de consultoría, puestos directivos...</p>
            <a href="equipo" class="card-link">leer mas</a>
        </div>
        <div class="col-md-3">
            <h3>El objetivo</h3>
            <p class="card-text">Inversiones en empresas en situaciones especiales que se enfrentan a importantes retos
                estratégicos...</p>
            <a href="objetivo" class="card-link">leer mas</a>
        </div>
        <div class="col-md-3">
            <h3>Metodología</h3>
            <p class="card-text">metodología experiencia y creación de valor nuestra filosofía se basa en
                aportar no solo capital sino fundamentalmente...</p>
            <a href="metodologia" class="card-link">leer mas</a>
        </div>
    </div>
</div>

{% endblock %}