body {
    background-color: #464646;
    height: 100%;
}

.arr-right .breadcrumb-item+.breadcrumb-item::before {

    content: "›";

    vertical-align: top;

    color: #408080;

    font-size: 35px;

    line-height: 18px;

}

.margenes{
    padding: 1%;
}